:root{
    --PrimaryGrey-50: #656266;
    --PrimaryGrey-100: #616161;
    --PrimaryGrey-200:#322F33;
    --Primary-Color: #322F33; 
    --Font-colorlight: #E3E3E3;
    --Font-colormid:#616161;
    --Font-colordark:#475467;
    --Strokes-colorS50:#EBEBEB;
    --Strokes-colorS100:#000000/7%;
    --Strokes-colorS200:#FFFFFF/20%;
    --States-colorHover:#F7F7F7;
    --States-colorPressed: #F0F0F0;
    --States-colorFocused: #005BD3;
    --Plain-White:#FFFFFF;
    --Background-Color:#F1F1F1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}
.logo{
    background: url(https://crushingit.tech/hackathon-assets/shopify-icon-desktop.svg); 
    background-repeat: no-repeat;
    background-size: cover;
}
